/* some style */

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  justify-content: center;
  margin-top: 45vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.error {
  display: flex;
  background-color: red;
  color: black;
}
